.top-header {
  width: 1440px;
  height: 100px;
  background-color: #73C2FB;
  position: fixed;
}

.header {
  display: flex;
  justify-content: center;
  padding-right: 40px;

}

.header-list {
  color: white;
  list-style-type: none;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  border-radius: 8px;
  background-color: #0080FE;
  margin: 10px;
}

.header-list:hover {
  color: #0080FE;
  background-color: white;
}
